.button {
    background-color: rgb(25, 221, 84);
    border:currentColor
    font-family: 'Times New Roman';

}
.title {
    
   border: currentColor;
}
.violet {
    width: 300px;
    height: 300px;
}